
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
   
}


body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
}


header {
    background-color: #252525;
    background-image: linear-gradient(to left,#252525, #252525, #252525);
    color: #fff;
    padding: 20px;
    height: 90px;
}
.logo {
   width: 270px; /* Adjust the width as needed */
    vertical-align: middle;
    margin-left: 0px;
    float: left;
    
}
.logo img{
    height: 90px;
    width: auto;
    display: inline-block;
    
}
nav div{
    float: left;
}
nav ul{
    text-align: center;
    height: auto;
    font-size: 17px;
    float: right;
    width: 100%;
   
}
.navmid{
    margin-top: 30px;
    margin-left: 80px;
}

nav ul li ul{
    position: absolute;
    background-color:#333;
    color: white;
    display: none;
    width:80px;
    border-radius: .5px;
    margin-left: 360px;
    margin-top: 3px;

}

nav ul li:hover > ul{
    display: block;
}

nav ul li ul li{
    display: block;
    border-bottom: 1px solid black;
    position: relative;
    text-align: center;
    width: 100%;
    padding-top: 2px;
    background-color: #333;

}
nav ul li a i{
    font-size: 28px;
    margin-top: 27px;
    margin-left: -20px;
}
.searchbox{
    width: 195px;
    background-color: #ffcc00;
    border:2px solid black;
    margin-top: 28px;
    margin-left: 20px;
}

.search{
    float:right;
    height: 23px;
    border-radius: 1px;
    border-color: transparent;
    border-left: 1px solid black;
    
}
.searchbox i{
    font-size: 19.5px;
    margin-top: 1px;
    margin-left: 1.75px;
    color: black;
}
nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffcc00;
}



.progress{
    width: 100%;
    display: inline-block;

    
}

.progress .p{
    border: 2px solid #252525;
    height: 20px;
    width: 200px;
    float: right;
    margin-right: 20px;
    

}

.p .pi{
    background-color: #ffcc00;
    height: 20px;
    width: 150px;
    display: inline-block;
    
}

.progress1{
    width: 100%;
}

.progress1 .p1{
    border: 2px solid #252525;
    height: 10px;
    width: 200px;
    float: right;
    margin-right: 20px;
}

.p1 .pi1{
    background-color: #7aa7d3;
    height: 10px;
    width: 150px;
    font-size: xx-small; 
}
main{
    width: 100%;
    height: auto;
    background-color: lightgray;
    display: inline-block;
}



.main2{
    
    
    background-color: #333;
    width: 30%;
   
    padding: 2px;
}

.main2 .icons a i{
    color: #fff;

    font-size: 20px;
    padding: 5px;
}
.icons div{
    display: inline-block;
}

.icons a{
    color: #fff;
    padding-bottom: 2px;
}
#profile{
    float: right;

}
#calendar{
    float: right;
    font-size: 24px;
    color: #fff;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}


.activity i{
      float: right;
    font-size: 24px;
    color: #252525;
    padding: 5px;
}
.today h1{
    color: rgb(131, 136, 137);
   margin-top: 20px;
   margin-bottom: 10px;
   display: inline-block;

}

.today .activity{
    color: #252525;
background-color: lightgray;
    font-size: 25px;
    padding: 4px;
margin-bottom: 5px;
border-radius: 5px;
}

.today #steps{
    border-left: 5px solid #ff6600;
    border-right: 100px solid #ff6600;
    
}
.today #aerobics{
border-left: 5px solid #ffcc00;
border-right: 100px solid #ffcc00;

}

.monthly h1{
    color: rgb(131, 136, 137);
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}



.container {
   
    margin: 10px ;
    background-color: #444;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.dash-container {
    max-width: 70%;
    margin-top: 60px ;
    margin-left: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}



.widget {
  
  
    padding: 30px;
    background-color: #ffcc0081;
    border-radius: 5px;
    display: inline-block;
   
    opacity: 0.9;
    height: 100px;
    margin: 10px;
}

h2 {
    font-size: 24px;
    margin: 0 0 10px;
}

p {
    font-size: 16px;
    margin: 0;
}



