/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;

}
main{
    background-color:lightgray;
}
/* Set a background color for the entire page */
body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
}

#myChart{
    width: 400px;
    height: 400px;
    background-image: conic-gradient(orange 64%, blue 64%, blue 81%, black 81%);
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
  }
.nutrition-advice {
    padding: 20px;
    background-color: rgb(107, 98, 98);
   

}

.nutrition-advice h1 {
    font-size: 24px;
    padding-bottom: 20px;
    text-align: center;
}


.nutrition-tips h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.nutrition-tips article {
    margin-bottom: 20px;
    text-align: justify;
}

.nutrition-tips h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.nutrition-tips p {
    color: #1c1313;
    line-height: 30px;
    text-align: justify;
}

.nutrition-tips a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    text-align: justify;
}

.healthy-recipes h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.healthy-recipes .recipe {
    margin-bottom: 30px;
    text-align: center;
    
}

.healthy-recipes h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.healthy-recipes img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}


.nutritional-guides h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.nutritional-guides a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    text-align: center;
}

.nutritional-guides img {
    width: auto;
    height: 300px;
 text-align: justify;
    border-radius: 5px;
    margin-left: 370px;
}

body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
}

img{
    width: auto;
    height: 500px;
}


.advanced-footer {
    background-color: #252525;
    color: #fff;
    padding: 20px 0;
    
}

.footer-logo {
    text-align: center;

}

.footer-logo img, p, div{
    margin-bottom: 10px;
}

.footer-logo img {
    
    height: 70px ;
    width: 130px;
   
}

.footer-logo p {
    font-weight: bold;
   
}
.footer-logo, .footer-contact, .footer-links, .footer-social{
    display: inline-block;
    margin-left: 81px;
    margin-right: 100px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links{
    font-size: 17px;
}

.footer-links ul li {
    margin-bottom: 10px;
    
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-social h3 {
    font-size: 18px;
    margin-bottom: 10px;
    
}

.footer-social ul {
    list-style: none;
    padding: 0;

}

.footer-social ul li {
    margin-bottom: 5px;
}

.footer-social a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    
}

.footer-contact h3 {
    font-size: 18px;
    margin-bottom: 10px;

}

.footer-content ul {
    list-style: none;
}

.footer-content ul li {
    display: inline;
    margin-right: 20px;
}

.footer-content ul li:last-child {
    margin-right: 0;
}

.footer-content ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.footer-content ul li a:hover {
    color: #ff6600;
}






