/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
   
}

.dropdown i{
    color:#f2f2f2;
    font-size: 33px;
    margin-top: 12px; 
    margin-left: 10px ;
}
.dropdown i:hover{
    color: #ffcc00;
    cursor: pointer;
}


/* Set a background color for the entire page */
body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
}


/* Style the header and navigation menu */

#hero {
    background-image: url('https://images.everydayhealth.com/images/everything-you-need-know-about-fitness-1440x810.jpg');
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    color: black;
}

#hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

#hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #ffcc00;
    color: #333;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 16px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #ffdb4d;
}

/* Style the features section */
#features {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.feature {
    text-align: center;
    max-width: 300px;
}

.feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 16px;
}

/* Style the footer */


/* Style the Advanced Footer */
.advanced-footer {
    background-color: #252525;
    color: #fff;
    padding: 20px 0;
    
}

.footer-logo {
    text-align: center;

}

.footer-logo img, p, div{
    margin-bottom: 10px;
}

.footer-logo img {
    
    height: 70px ;
    width: 130px;
   
}

.footer-logo p {
    font-weight: bold;
   
}
.footer-logo, .footer-contact, .footer-links, .footer-social{
    display: inline-block;
    margin-left: 81px;
    margin-right: 100px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links{
    font-size: 17px;
}

.footer-links ul li {
    margin-bottom: 10px;
    
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-social h3 {
    font-size: 18px;
    margin-bottom: 10px;
    
}

.footer-social ul {
    list-style: none;
    padding: 0;

}

.footer-social ul li {
    margin-bottom: 5px;
}

.footer-social a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    
}

.footer-contact h3 {
    font-size: 18px;
    margin-bottom: 10px;

}

.footer-content ul {
    list-style: none;
}

.footer-content ul li {
    display: inline;
    margin-right: 20px;
}

.footer-content ul li:last-child {
    margin-right: 0;
}

.footer-content ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.footer-content ul li a:hover {
    color: #ff6600; /* Change the color on hover */
}